.container {
    width: 100% !important;
    padding: 0;
}

#header {
    background-color: white;
}

#header .fixed-header {
    background-color: white;
}

#header .container {
    width: 1440px !important;
}

.charity-container {
    width: 1109px !important;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    margin-top: -309px !important;
    padding: 0 !important;
}

.charity-logo {
    position: absolute;
    top: -80px;
    width: 100%;
}

.charity-logo-container {
    position: relative;
    width: 100%;
}

.shape-frame {
    background-image: url("../../Assets/shape-frame.svg");
    width: 177px;
    height: 169px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    transform: rotate(-18deg);
}

.charity-logo-white {
    width: 100%;
    height: 100%;
    background-size:70%;
    margin-top: 35%;
    margin-left:6%;
    position: absolute;
    background-repeat: no-repeat;
    transform: rotate(18deg);
}

#about {
    float: left;
    width: 100%;
    padding-left: 93px;
}

#about .container {
    padding-right: 256px;
}

#about img {
    width: 731.6px;
    height: 888.4px;
    position: absolute;
    top: -92px;
    right: -134px;
    z-index: -1;
}

#about .about-text {
    width: 100%;
    text-align: left;
    padding-top: 80px;
}

#about .about-text h3 {
    font-family: 'Montserrat', sans-serif;
    width: 550px;
    font-weight: 800;
    font-size: 50px;
    color: #838383;
    margin-top: 0;
    margin-bottom: 23px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

#about .about-text p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #838383;
    margin-bottom: 37px;
}

#about .donate-btn {
    border-radius: 8px;
    width: 156px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

#about .donate-btn span {
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    position: relative;
    top: 8px;
    left: 18px;
    float: left;
}

#about .donate-btn .arrow {
    background-image: url("../../Assets/icons/icon_arrow_white.svg");
    width: 18px;
    height: 14px;
    background-size: contain;
    position: relative;
    top: 13px;
    left: 12px;
    background-repeat: no-repeat;
    float: left;
}

#about .donate-btn a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 500;
}

#charity-info {
    width: 1109px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -302px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.header-image {
    display: block;
    width: 100%;
    height: 610px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    border-bottom-left-radius: 80% 10%;
    border-bottom-right-radius: 80% 10%;
}
.breadcrum {
    position:absolute;
    display: block;
    height: 28px;
    margin-top: -280px;
    text-align:left;
}
.breadcrum a{
    float:left;
    height: 28px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #ffffff;
}
    .breadcrum a:hover {
        color:  #fda23f;
    }

.breadcrum p {
    float: left;
    height: 28px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-decoration: underline;
    color: #ffffff;
}
.breadcrum img {
    float: left;
    height: 13px;
    margin-top:8px;
    margin-left: 17px;
    margin-right: 17px;
}

.breadcrum .home-button {
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 6px;
    margin-right: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    -webkit-mask-image: url(../../Assets/icons/Icon_kruimelnav.svg);
    background-color: white;
}

.breadcrum .home-button:hover {
    background-color: #fda23f;
}

.main-storyboard {
    display: block;
    width: 100%;
}

.container {
    position: relative;
}

.category {
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 10px;
    margin-top: 2%;
    border-radius: 5px;
    background-color: rgba(177, 177, 177, 0.25);
    padding: 1px 6px 2px 6px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    width: auto;
    display: inline-block;
    color: #838383;
}
.category:first-child {
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 26px;
    margin-top: 2%;
    border-radius: 5px;
    background-color: rgba(177, 177, 177, 0.25);
    padding: 1px 6px 2px 6px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    width: auto;
    display: inline-block;
    color: #838383;
}

.kvk_ambi {
    font-family: 'Source Sans Pro', sans-serif;
    float: right;
    margin-right: 26px;
    margin-top: 2%;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    display: inline-block;
    color: #838383;
}

/*Story*/
#the_story {
    width: 100%;
    float: left;
    margin-top: 80px;
}

#the_story .container {
    padding: 0;
    margin: 0;
}

#the_story .story_image {
    width: 100%;
    height: 460px;
    background-position: center;
    position: relative;
    background-size: cover;
}

#the_story .story_gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
}

#the_story .story_image .text_container {
    position: absolute;
    width: 100%;
    padding-left: 93px;
    padding-right: 490px;
    bottom: 50px;
}

#the_story .story_image .text_container span {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

#the_story .story-btn-holder {
    position: absolute;
    right: 93px;
    bottom: 0px;
}
#the_story .story-btn-holder a{
    position: absolute;
    width: 100%;
    height: 100%;
}


#the_story .text_container h3 {
    width: 556px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: 7px;
    margin-top: 5px;
}

#the_story .read-more-this-story {
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-decoration: underline;
    bottom: 58px;
}

#the_story .text_container a {
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    bottom: 58px;
}

/*Donation status*/
#donations .donations-relative {
    position: relative;
    width: 602px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    display: table;
    margin-bottom: 150px;
}

.donations-box {
    margin-top: -1px;
    height: 50px;
    width: 700px;
    border: solid 1px #b1b1b1;
    vertical-align: middle;
    text-align: left;
}

.donations-box:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.donations-box:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.donations-number {
    width: 275px;
    height: 23px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    color: #f88356;
}

.profile-icon {
    width: 28px;
    height: 28px;
    background-image: url("../../Assets/icons/Icon_profiel.svg");
    border-radius: 50%;
}

.img-box{
	float:left;
    margin-left: 10px;
    margin-top: 10px;
}

.text-box {
    float: left;
    margin-left: 10px;
    margin-top: 13px;
    text-align: center;
}

.profile-text {
    height: 33px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #838383;
}

.main-text {
    height: 33px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.36;
    letter-spacing: normal;
    color: #838383;
    vertical-align: middle;
    bottom: 10px;
}

.ammount-people {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.83;
    letter-spacing: normal;
    text-align: center;
    color: #838383;
    vertical-align: middle;
}

.numbers {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.66;
    letter-spacing: normal;
    text-align: center;
    color: #838383;
}

.text-container {
    margin-bottom: 50px;
    height: 50px;
}

.donation-date {
    float: right;
    margin-right: 10px;
    margin-top: 13px;
    text-align: center;
}

.date-text {
    width: 240px;
    height: 23px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    color: #838383;
}

#acties {
    width: 100%;
    float: left;
    padding-left: 93px;
    padding-right: 93px;
    padding-bottom: 120px;
}

#acties .title {
    width: 284px;
    height: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #838383;
    margin-top: 110px;
    margin-left: 8px;
}

#acties .action-buttons {
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 84px;
}

#acties .action-buttons .all-actions, #acties .action-buttons .make-actions {
    width: 199px;
    height: 40px;
    border-radius: 8px;
    display: inline-block;
    position: relative;
    font-size: 19px;
}

#acties .action-buttons .all-actions a, #acties .action-buttons .make-actions a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

#acties .action-buttons .all-actions {
    margin-right: 16px;
}

#acties .action-buttons .all-actions span {
    position: absolute;
    top: 7px;
    left: 16px;
}

#acties .action-buttons .make-actions span {
    position: absolute;
    top: 6px;
    left: 26px;
}

#donations {
    margin-top: 89px;
}
