@section Scripts {
<script src="~/lib/chart.js/dist/Chart.min.js"></script>
<script src="~/js/chart.js"></script>
} 
@section Styles {
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<link href="~/css/dashboard/dashboard.css" rel="stylesheet"> }

<div id="side-navigation">
  
  <div class="navigation-block">
    <div class="full-width-holder">
       <div class="content-container">
      <img src="~/Assets/dashboard/Icon_1dashboard.svg">
      <label class="navigation-text monster-300">Dashboard</label>
      </div>
    </div>
  </div>

  <div class="navigation-block">
    <div class="full-width-holder">
      <div class="content-container">
        <img src="~/Assets/dashboard/Icon_2beheren.svg">
        <label class="navigation-text monster-300">Dashboard</label>
      </div>
    </div>
  </div>

  <div class="navigation-block">
    <div class="full-width-holder">
      <div class="content-container">
        <img src="~/Assets/dashboard/Icon_3inbox.svg">
        <label class="navigation-text monster-300">Dashboard</label>
      </div>
    </div>
  </div>

  <div class="navigation-block">
   <div class="full-width-holder">
      <div class="content-container">
        <img src="~/Assets/dashboard/Icon_4profiel.svg">
        <label class="navigation-text monster-300">Dashboard</label>
      </div>
    </div>
  </div>

  <div class="navigation-block">
    <div class="full-width-holder">
      <div class="content-container">
        <img src="~/Assets/dashboard/Icon_2beheren.svg">
        <label class="navigation-text monster-300">Dashboard</label>
      </div>
    </div>
  </div> 

</div>

<div id="dashboard-header">
    <img src="~/Assets/dashboard/Logo_moves.svg" class="dashboard-charity-logo">
    
    <div class="charity-account">
        <img src="~/Assets/dashboard/Icon_profiel.svg" class="user-icon">
        <label class="user-name source-200">Stef de Kramer</label>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a class="go-back-link" href="#">
            <span>
              <img class="go-back-icon" src="~/Assets/dashboard/Icon_arrow-back.svg">
            </span>
   Terug naar ikdoneer.nu
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="title monster-200">Dashboard</h2>
        </div>
    </div>

    <div id="first-section-information">
      <div class="row">
      <div class="col-md-4">
        <div class="amount-container"></div>
      </div>
      <div class="col-md-4">
        <div class="amount-container"></div>
      </div>
      <div class="col-md-4">
        <img class="donaties-holder" src="~/Assets/dashboard/Icon_donaties.svg">
      </div>
    </div>
    </div>
    
    <canvas id="myChart" class="chart"></canvas>
  
<div id="last-section-information">
  <div class="row">
    <div class="col-md-4">
       <div class="amount-container"></div>
    </div>
    <div class="col-md-8">
      <div class="action-stats"></div>
    </div>
  </div>
</div>

  
</div>