version: '3'

services:
  sombra.web:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - RABBITMQ_CONNECTIONSTRING=host=${DC_RABBITMQHOST:-rabbitmq};username=${DC_RABBITMQUSER:-rabbitmquser};password=${DC_RABBITMQPASSWORD:-rabbitmqpassword}
      - AUTHENTICATION_DB_CONNECTIONSTRING=server=${DC_SQLHOST:-sqlserver};user id=${DC_SQLUSER:-sa};password=${DC_SQLPASSWORD:-sqlpassword};database=Authentication;
    ports:
      - "80:80"
  
  sombra.emailservice:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - RABBITMQ_CONNECTIONSTRING=host=${DC_RABBITMQHOST:-rabbitmq};username=${DC_RABBITMQUSER:-rabbitmquser};password=${DC_RABBITMQPASSWORD:-rabbitmqpassword}

  sombra.loggingservice:
    environment:
      - CONTAINER_TYPE=Docker
      - ASPNETCORE_ENVIRONMENT=Development
      - RABBITMQ_CONNECTIONSTRING=host=${DC_RABBITMQHOST:-rabbitmq};username=${DC_RABBITMQUSER:-rabbitmquser};password=${DC_RABBITMQPASSWORD:-rabbitmqpassword}
      - MONGO_CONNECTIONSTRING=mongodb://${DC_MONGOUSER:-mongouser}:${DC_MONGOPASSWORD:-mongopassword}@${DC_MONGOHOST:-mongoserver}/
      - MONGO_DATABASE=logging

  rabbitmq:
    environment:
      - RABBITMQ_DEFAULT_USER=${DC_RABBITMQUSER:-rabbitmquser}
      - RABBITMQ_DEFAULT_PASS=${DC_RABBITMQPASSWORD:-rabbitmqpassword}
    ports:
      - "15672:15672"
      - "5672:5672"

  
  sqlserver:
    environment:
      - ACCEPT_EULA=Y 
      - SA_PASSWORD=${DC_SQLPASSWORD:-sqlpassword}
    ports:
      - "1434:1433"

  
  mongoserver:
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${DC_MONGOUSER:-mongouser}
      - MONGO_INITDB_ROOT_PASSWORD=${DC_MONGOPASSWORD:-mongopassword}
    ports:
      - "27017:27017"


  portainer:
    ports:
      - "9000:9000"