#header .fixed-header {
    background-color: white;
}

.container {
    width: 100% !important;
    padding: 0;
}


#header .container {
    width: 1440px !important;
}

.story-container {
    width: 1109px !important;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    margin-top: -230px !important;
    padding: 0 !important;
}

.story-logo {
    position: absolute;
    top: -80px;
    width: 100%;
}

.story-logo-container {
    position: relative;
    width: 100%;
}

.shape-frame {
    -webkit-mask-image: url(../../Assets/shape-frame.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    background-position: 60% 50%;
    width: 177px;
    height: 169px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transform: rotate(-18deg);
}

.profile-name {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #838383;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#about {
    float: left;
    width: 100%;

}

#about img {
    width: 790px;
    height: 888.4px;
    position: absolute;
    top: -92px;
    right: -134px;
    z-index: -1;
}

#about .about-text h3 {
    font-family: 'Montserrat', sans-serif;
    width: 550px;
    font-weight: 800;
    font-size: 50px;
    color: #838383;
    margin-top: 0;
    margin-bottom: 50px;
}

#about .about-text p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #838383;
    margin-bottom: 50px;
}

#about .about-text {
    display: block;
    width: 100%;
    text-align: left;
    padding-top: 75px;
}

#about .about-text h2 {
    font-family: 'Montserrat', sans-serif;
    width: 790px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #838383;
    margin-top: 112px;
}

#about .about-text p {
    font-family: 'Source Sans Pro', sans-serif;
    width: 790px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #838383;
    margin-top: 50px;
}

    #about .about-text h1 {
        font-family: 'Kalam', sans-serif;
        width: 54%;
        font-size: 30px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: #f88356;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        text-align: center;
    }

#about .about-text:after {
    content: none;
}

#about .story-image {
    margin-top: 50px;
    width: 790px;
    height: 356px;
    margin-left: auto;
    margin-right: auto;
}

#about .slide-container {
    position: relative;
    width: 790px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

#about .action-buttons {
    width: 100%;
    text-align: center;
    float: left;
}

#story-info {
    width: 1109px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -302px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.header-image {
    display: block;
    width: 100%;
    height: 610px;
    margin-top:-60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    border-bottom-left-radius: 80% 10%;
    border-bottom-right-radius: 80% 10%;
}

.main-storyboard {
    display: block;
    width: 100%;
}

.container {
    position: relative;
    font-family: Arial;
}

#image-slider .images {
    height: 260px;
    min-width: 260px;
    background-size: cover;
    overflow: hidden;

}

.images:last-child {
    height: 260px;
    min-width: 260px;
    background-size: cover;
    overflow: hidden;
}

.images:first-child {
    height: 260px;
    min-width: 260px;
    background-size: cover;
    overflow: hidden;
    margin-right: 30px;
}

.images .images-container {
    height: 260px;
    min-width: 260px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

#image-story-slider .images {
    width: 349px;
    height: 285px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-size: cover;
    overflow: hidden;
    padding: 5px;
    margin-right: 30px;
    margin-left: 5px;
}

.images .images-container {
    height: 260px;
    min-width: 260px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.foto-cell {
    width: 284px;
    height: 402px;
    padding: 5px;
    margin-right: 30px;
    margin-left: 5px;
    background-color: white;
}

#share-story {
    width: 1109px !important;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.share-story p {
    float: right;
    height: 33px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.36;
    letter-spacing: normal;
    color: #838383;
    margin-top: 20px;
    margin-right: 19px;
    margin-left: auto;
}

.share-facebook {
    float: right;
    margin-top: 20px;
    margin-right: 17px;
    margin-left: auto;
    width: 24px;
    height: 24px;
    background-image: url("../../Assets/icons/Facebook_oranje.svg");
    background-size: 100%;
}

.share-twitter {
    float: right;
    margin-top: 20px;
    margin-right: 17px;
    margin-left: auto;
    width: 24px;
    height: 24px;
    background-image: url("../../Assets/icons/Twitter_oranje.svg");
    background-size: 100%;
}

.share-instagram {
    float: right;
    margin-top: 20px;
    margin-left: auto;
    width: 24px;
    height: 24px;
    background-image: url("../../Assets/icons/Instagram_oranje.svg");
    background-size: 100%;
}

.share-text {   
    width: 1109px !important;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.shared-container {
    float: left;
    margin-top: 150px;
}

.share-text h2 {       
        
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #838383;
    display: block;
}

.share-text p {
    width: 474px;
    margin-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #838383;
    display: block;
}

.big-button {
    width: 212px;
    height: 40px;
    border-radius: 8px;
    margin-top: 18px;
    border: none;
    position: relative;
}

.big-button span {
    height: 22px;
    padding: 9px 13px 9px 14px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

#other-story {
    width: 1109px !important;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

.story-board {
    float: right;
    width: 474px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-top: 150px;
}
    .story-board p {
        font-family: 'Kalam', sans-serif;
        width: 398px;
        font-size: 20px;
        font-weight: lighter;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: center;
        color: #838383;
        margin-left: auto;
        margin-right: auto;
        margin-top: 14px;
        margin-bottom: 14px;
    }

    .story-board a {
        display: inline-block;
        width: 152px;
        height: 23px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #f88356;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        text-decoration: underline;
    }

.other-story-logo {
    margin-top: -46px;
    width: 100%;
}

.other-story-logo-container {
    position: relative;
    width: 100%;
}

.other-profile-image {
    -webkit-mask-image: url(../../Assets/shape-frame.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    background-position: 60% 50%;
    width: 96.8px;
    height: 92.4px;
    transform: rotate(-6deg);
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#more-stories {
    width: 1109px !important;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;

}

.more-stories-field {
    float: right;
    width: 100%;
    margin-top: 150px;
    margin-bottom:150px;
}

.title {
    margin-left: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #838383;

}

.column {
    float: left;
    width: 349px;
    height: 285px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    text-align: center; 
    overflow: hidden;
}

.text-column {
    float: left;
    width: 349px;
    height: 79px;
    margin-top:206px;
    background:white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: .5s ease;
}

.column:hover .text-column {
    width: 349px;
    height: 224px;
    margin-top: 61px;
}

.column p {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 15px 23px 18px 24px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    color: #838383;
}

.fading-link {
    display: block;
    height: 23px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f88356;
    text-decoration: underline;
    opacity: 0;
    transition: .6s ease-in;
    padding-left: 24px;
}
.fading-text {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 72px 23px 52px 24px;
    margin-top: -85px;
    margin-bottom: -75px;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: normal;
    color: #838383;
    opacity: 0;
    transition: .5s ease-in;
}

.column:hover .fading-text {
    opacity: 1;
}

.column:hover .fading-link {
    opacity: 1;
    color: #F3646F;
    cursor: pointer;
}

.column .fading-link:hover {
    color: #F3646F;
}

.images {
    width: 349px;
    height: 285px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.column:nth-child(2) {
    float: left;
    width: 349px;
    height: 285px;
    border-radius: 5px;
    margin-left:31px;
    margin-right:31px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.column:nth-child(5) {
    float: left;
    width: 349px;
    height: 285px;
    border-radius: 5px;
    margin-left: 31px;
    margin-right: 31px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.column:nth-child(8) {
    float: left;
    width: 349px;
    height: 285px;
    border-radius: 5px;
    margin-left: 31px;
    margin-right: 31px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

