
#home-info {
    padding-top: 350px;
    float: left;
}
#about .about-text h3 {
    font-size: 50px;
}

@media only screen and (max-width: 1250px) {
    #about .about-text h3 {
        font-size: 40px;
    }
}

/* OPTION */
#option-container .home-options {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#home-contribute .container {
    padding-left: 50px;
    padding-right: 50px;
}