#header .container {
    width: 1440px!important;
}
.container {
    width: 100%!important;
    padding: 0;
    margin: 0;
}

#about {
    float: left;
    width: 100%;
}

#about .container {
    padding-left: 165px;
    padding-right: 165px;
}

#about img {
    width: 731.6px;
    height: 888.4px;
    position: absolute;
    top: -92px;
    right: -134px;
    z-index: -1;
}

.header-image {
    position: absolute;
    top: 0;
    right: 0;
}

#about .about-text {
    padding-top: 150px;
}

#about .about-text h3 {
    font-family: 'Montserrat', sans-serif;
    width: 550px;
    font-weight: 800;
    color: #838383;
    margin-top: 0px;
}

#about .about-text p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    font-weight: 300;
    color: #838383;
    font-style: italic;
}

#about .about-quotes {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 100;
}

#about .quote-shift-left {
    margin-left: -15px;
}

#about .quote-shift-right {
    margin-left: 5px;
}

#about .about-btn {
    margin-top: 80px;
    width: 202px;
    height: 40px;
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 1px #f88356;
    position: relative;
}

#about .about-btn:hover {
    margin-top: 80px;
    width: 202px;
    height: 40px;
    border-radius: 8px;
    background-image: linear-gradient(515deg, #FB9549, #F57264);
    position: relative;
}

#about .about-btn .small-arrow {
    background-image: url("../../Assets/icons/small-arrow-icon.svg");
    width: 12px;
    height: 10px;
    background-size: contain;
    position: absolute;
    top: 15px;
    left: 16px;
    background-repeat: no-repeat;
}

#about .about-btn:hover .small-arrow {
    background-image: url("../../Assets/icons/white-arrow.svg");
}

#about .about-btn a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 500;
}

#about .about-btn i {
    position: absolute;
    color: #fda23f;
    top: 12px;
    left: 11px;
}

#about .about-btn span {
    position: absolute;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #f88356;
    top: 8px;
    left: 35px;
}
    #about .about-btn:hover span{
        position: absolute;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: #fff;
        top: 8px;
        left: 35px;
    }

#home-info {
    padding-top: 350px;
    float: left;
}

#home-info p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #838383;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: 300;
    width: 630px;

}

#home-info bold {
 font-weight: bold;
}


/* choose flow */

#choose-flow {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 87px;
}

#choose-flow .flow-container {
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    padding-top: 5px;
}

#choose-flow .flow-box {
    width: 284px;
    height: 294px;
    background-color: white;
    display: inline-table;
    border-radius: 8px;
    text-align: center;
    margin-left: 34px;
    margin-right: 34px;
    position: relative;
}

#choose-flow .flow-box:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

#choose-flow .flow-box .flow-icon-holder {
position: relative;
}

#choose-flow .flow-box:nth-child(1) {}

#choose-flow .flow-box:nth-child(2) .flow-shape {

}

#choose-flow .flow-box:nth-child(3) .flow-shape {
    transform: rotate(137deg);
}

#choose-flow .flow-box:nth-child(2) .flow-icon-holder .flow-icon {
position: absolute;
top: -15px;
left: 107px;
width: 75px;
}

#choose-flow .flow-box:nth-child(3) .flow-icon-holder .flow-icon {
   top: -25px;
 }


#choose-flow .flow-box:nth-child(1) p{
    width: 221px;
}

#choose-flow .flow-box .flow-icon-holder .flow-shape {
    position: absolute;
    top: -45px;
    left: 96px;
}

#choose-flow .flow-box .flow-icon-holder .flow-icon {
    position: absolute;
    top: -20px;
    left: 120px;
}

#choose-flow .flow-box h3 {
    margin-top: 67px;
    margin-bottom: 0;
    font-size: 20px;
    color: #B1B1B1;
}

#choose-flow .flow-box p {
    margin-top: 10px;
    width: 233px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-size: 18px;
    color: #838383;
    line-height: 25px;
  }

  #choose-flow .flow-box .flow-start {
      display: none;
    font-size: 18px;
    color: #fda23f;
    width: 100%;
    position: absolute;
    bottom: 32px;
    left: 0;
      z-index: 21;
  }

  #choose-flow .flow-box:hover .flow-start {
    display: inline;
}

#choose-flow .flow-box .flow-start:hover {
    text-decoration: underline;
}

/*/ Contribute /*/

#home-contribute {
    width: 100%;
    float: left;
    margin-top: 150px;
    padding-left: 165px;
    padding-right: 165px;
    text-align: left;
}

#home-contribute .container {
 padding: 0 !important;
 margin: 0 !important;
 width: 100%!important;
}

#home-contribute .contribute-textArea {
    padding-right: 75px;
}

#home-contribute .action-holder .action-holder-frame {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 0.2;
    z-index: 0;
}

#home-contribute .action-holder .action-items {
    width: 100%;
    position: relative;
}

#home-contribute .action-holder .action-item {
   z-index: 100;
}

#home-contribute .action-holder .action-item:nth-child(1) {
    top: 11px;
    right: -20px;
    width: 253px;
    height: 265px;
}

#home-contribute .action-holder .action-item:nth-child(2) {
    width: 253px;
    height: 265px;
    top: 94px;
    right: 264px;
}

#home-contribute .action-holder .action-item:nth-child(3) {
    top: 324px;
    right: 54px;
    width: 179px;
  height: 187px;
}

#home-contribute .action-holder .action-item:nth-child(3) .colored-label a {
   font-size: 9px;
}
#home-contribute .action-holder .action-item:nth-child(3) .action-information {
    font-size: 14px;
    margin-top: 5px;
 }

 #home-contribute .action-holder .action-item:nth-child(3) .action-btn-holder a {
    width: 38px;
    height: 38px;
    
 }

 #home-contribute .action-holder .action-item:nth-child(3) .action-btn-holder a i  {
    font-size: 20px;
    margin-top: 10px;
 }

#home-contribute .action-holder .action-item {
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    top: -10px;
    right: 25px;
}

#home-contribute .action-holder .action-item .background img {
    width: 50%;
    height: 50%;
    max-width: inherit;
    max-height: inherit;
    margin: auto;
    vertical-align: middle;
}

#home-contribute .action-holder .action-item .background {
    width: 100%;
    height: 50%;
    display: flex;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#home-contribute .action-holder .action-item .colored-label {
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
    background-color: rgba(177, 177, 177, 0.25);
    border-radius: 5px;
    padding: 2px 6px;
    font-size: 13px;
    color: #838383;
}

#home-contribute .action-holder .action-item .action-information {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #838383;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    width: 100%;
}

#home-contribute .action-holder .action-item .action-btn-holder {
    width: 100%;
    position: absolute;
    bottom: -25px;
}

#home-contribute .action-holder .action-item .action-btn-holder a {
    width: 54px;
    height: 54px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 100%;
    text-align: center;
    margin-top: 15px;
    box-shadow: 0px 0px 10px 0px #D3D3D3;
}

#home-contribute .action-holder .action-item .action-btn-holder i {
    font-size: 25px;
    margin-top: 15px;
    color: orange;
}

#home-contribute .action-holder .items-holder {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#the_story {
    width: 100%;
    float: left;
    margin-top: 180px;
}

#the_story .container {
    padding: 0;
    margin: 0;
}

#the_story .story_image {
 width: 100%;
 height: 460px;
 background-position: center;
 position: relative;
 background-size: cover;
}

#the_story .story_gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
}

#the_story .story_image .text_container {
    width: 100%;
    padding-left: 165px;
    padding-right: 165px;
}

#the_story .story_image .text_container span {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

#the_story .story-btn-holder {
    position: absolute;
    right: 165px;
    bottom: 58px;
}

    #the_story .story_image .text_container h3 {
        width: 556px;
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.28;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        margin-bottom: 7px;
        margin-top: 5px;
    }

#the_story .read-more-this-story {
font-size: 18px;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #ffffff;
text-decoration: underline;
}

#acties {
    width: 100%;
    float: left;
    padding-left: 165px;
    padding-right: 165px;
    padding-bottom: 120px;
}

#acties .title {
    width: 284px;
    height: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #838383;
    margin-top: 150px;
}

#acties .action-buttons {
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 84px;
}

#acties .action-buttons .all-actions, #acties .action-buttons .make-actions {
width: 199px;
height: 40px;
border-radius: 8px;
display: inline-block;
position: relative;
font-size: 19px;
}

#acties .action-buttons .all-actions a , #acties .action-buttons .make-actions a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    }

#acties .action-buttons .all-actions {
    margin-right: 16px;
    background-image: linear-gradient(515deg, #fb9549, #f57264);
    color:white;
}

#acties .action-buttons .all-actions span {
    position: absolute;
    top: 7px;
    left: 16px;
}

#acties .action-buttons .make-actions {
    background-color: white;
    border: 1px solid #F88356;
    color: #F88356;
    }

    #acties .action-buttons .make-actions span {
        position: absolute;
        top: 6px;
        left: 26px;
 }