body {
    font-family: 'Source Sans Pro', sans-serif !important;
}

#header {
    float: left;
    width: 100%;
    height: 100px;
}

#header .fixed-header {
    width: 100%;
    background-color: white;
    position: fixed;
    height: 100px;
    z-index: 1;
    overflow: hidden;
}

.container {
    width: 100% !important;
    padding: 0;
    margin: 0;
}

#header .logo {
    margin-top: 15px;
    float: left;
    margin-left: 50px;
}

#header .big-menu {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #838383;
}

#header .big-menu ul {
    float: right;
    margin-top: 18px;
    padding-left: 0;
}

#header .big-menu li {
    display: inline-block;
    padding-right: 43px;
    height: 40px;
}

#header .big-menu li a {
    text-decoration: none;
    color: #838383;
}

#header .big-menu li:first-child {
    margin-left: 0;
}

#header .big-menu li:nth-child(4) {
    margin-right: 120px;
}

#header .big-menu li:nth-child(5), #header .big-menu li:nth-child(6) {
    padding-right: 25px;
}

#header .big-menu li:nth-child(7) {
    margin-right: 50px;
    padding-right: 0;
}

#header .big-menu i {
    color: #fda23f;
}

#header .big-menu .donate-btn {
    width: 156px;
    height: 40px;
    border-radius: 8px;
    background-image: linear-gradient(107deg, #fda23f, #f3646f);
    margin-top: 12px;
    position: relative;
}

#header .big-menu .donate-btn i {
    position: absolute;
    color: white;
    top: 10px;
    left: 15px;
    font-size: 20px;
}

#header .big-menu .donate-btn i {
    position: absolute;
    color: white;
    top: 10px;
    left: 12px;
    font-size: 20px;
    z-index: 200;
}

#header .big-menu .donate-btn span {
    position: absolute;
    top: 8px;
    left: 35px;
    color: white;
    font-size: 19px;
    font-weight: bold;
}

#header .big-menu .donate-btn a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*Dropdown*/

#header .dropdown-btn-holder {
    float: right;
    width: 30px;
    height: 30px;
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
}

#header .dropdown-btn {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: none;
    background-color: white;
}

#header .dropdown-btn-holder i {
    font-size: 15px;
    color: #fda23f;
    padding-top: 5px;
    text-align: center;
}

#header .header-dropdown-menu {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(122deg, #fda23f, #f3646f);
    overflow-y: hidden;
    transition: 0.5s;
}

#header .dropdown-content {
    position: relative;
    top: 5%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

#header .dropdown-content {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#header #header-close-dropdown {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: white;
    margin-top: 20px;
    margin-right: 20px;
    float: right;
}

#header-close-dropdown i {
    font-size: 15px;
    color: #fda23f;
    padding-top: 5px;
}

#header .dropdown-content .dropdown-item {
    display: inherit;
    text-align: center;
    width: 100%;
    height: 50px;
    margin-top: 15px;
}

#header .dropdown-content .dropdown-item a {
    display: inherit;
    text-align: center;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

/*dropdown*/

#about {
    margin-left: 25px;
    float: left;
}

#about img {
    width: 731.6px;
    height: 888.4px;
    position: absolute;
    top: -92px;
    right: -134px;
    z-index: -1;
}

.header-image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

#about .about-text {
    padding-top: 150px;
    /*padding-left: 50px;*/
}

#about .about-text h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: #838383;
}

#about .about-text p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 23px;
    font-weight: 300;
    color: #838383;
}

#about .about-btn {
    margin-top: 60px;
    width: 210px;
    height: 40px;
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 1px #fda23f;
    position: relative;
}

#about .about-btn i {
    position: absolute;
    color: #fda23f;
    top: 12px;
    left: 11px;
}

#about .about-btn span {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: #fda23f;
    top: 5px;
    left: 35px;
}

#home-info {
    padding-top: 350px;
    width: 100%;
}

#home-info p {
    width: 729px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #838383;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: 300;
}

/* OPTION */

#option-container {
    margin-top: 50px;
    width: 100%;
    float: left;
}

#option-container .option-box {
    width: 284px;
    height: 315px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
}

#option-container .option-box h3 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #b1b1b1;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 70px;
}

#option-container .option-box p {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: #838383;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 15px;
}

#option-container .option-box a {
    font-size: 18px;
    font-weight: 600;
    color: #fda23f;
    text-align: center;

}

#option-container .option-box .option-shape {
    position: absolute;
    top: -40px;
    left: 105px;
}

#option-container .outerBox:nth-child(1) .option-box .option-icon {
    position: absolute;
    top: -14px;
    left: 129px;
}

#option-container .outerBox:nth-child(2) .option-box .option-icon {
    position: absolute;
    top: -9px;
    left: 121px;
}

#option-container .outerBox:nth-child(3) .option-box .option-icon {
    position: absolute;
    top: -20px;
    left: 127px;
}

#option-container .outerBox:nth-child(2) .option-box .option-shape {
    transform: rotate(-43deg);
}

#option-container .outerBox:nth-child(3) .option-box .option-shape {
    transform: rotate(137deg);
}

#option-container .home-options {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*/ Contribute /*/

#home-contribute {
    width: 100%;
    float: left;
    margin-top: 150px;
}

.standard-text .contribute-textArea h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 200;
    text-align: left;
    color: #838383;
    margin-bottom: 31px;
}

.standard-text .contribute-textArea p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: 300;
    text-align: left;
    color: #838383;
    margin-bottom: 20px;
}

.standard-text .big-button {
    width: 250px;
    height: 40px;
    border-radius: 8px;
    background-image: linear-gradient(101deg, #fda23f, #f3646f);
    position: relative;
}

.standard-text .big-button span{
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 9px;
    left: 13px;
}

#home-contribute .action-holder .action-holder-frame {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 0.3;
    z-index: 0;
}

#home-contribute .action-holder .action-items {
    width: 100%;
    position: relative;
    margin-top: -60px;
}

#home-contribute .action-holder .action-item {
   z-index: 100;
}

#home-contribute .action-holder .action-item:nth-child(1) {
    top: 11px;
    right: 25px;
}

#home-contribute .action-holder .action-item:nth-child(2) {
    top: -19px;
    right: 325px;
}

#home-contribute .action-holder .action-item:nth-child(3) {
    top: 290px;
    right: 219px;
}

#home-contribute .action-holder .action-item {
    width: 253px;
    height: 265px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    top: -10px;
    right: 25px;
}

#home-contribute .action-holder .action-item img {
    width: 100%;
    height: 50%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#home-contribute .action-holder .action-item .action-title {
    color: white;
    position: absolute;
    top: 45px;
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

#home-contribute .action-holder .action-item .colored-label {
    margin-left: 10px;
    margin-top: 10px;
}

#home-contribute .action-holder .action-item .colored-label a {
    padding-left: 6px;
    padding-right: 6px;
    background-color: lightblue;
    border-radius: 4px;
    font-size: 13px;
}

#home-contribute .action-holder .action-item .action-information {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #838383;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    width: 100%;
}

#home-contribute .action-holder .action-item .action-btn-holder {
    width: 100%;
    position: absolute;
    bottom: -25px;
}

#home-contribute .action-holder .action-item .action-btn-holder a {
    width: 54px;
    height: 54px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 100%;
    text-align: center;
    margin-top: 15px;
}

#home-contribute .action-holder .action-item .action-btn-holder i {
    font-size: 25px;
    margin-top: 15px;
    color: orange;
}

#home-contribute .action-holder .items-holder {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#discover {
    margin-top: 150px;
    float: left;
}