@model Sombra.Web.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.EditorFor(m => m.CredentialType)
    @Html.EditorFor(m => m.Identifier)
    @Html.EditorFor(m => m.Secret)
    <input type="submit" value="Search" />
}