@using Sombra.Messaging
@model Sombra.Web.Areas.Development.Models.AuthenticationQuery
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.EditorFor(m => m.LoginTypeCode)
    @Html.EditorFor(m => m.Identifier)
    @Html.EditorFor(m => m.Secret)
    <input type="submit" value="Search" />
}