@using Sombra.Messaging
@model Sombra.Web.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Index";
}


<h2>Index</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.EditorFor(m => m.EmailAddress)
    @Html.ValidationMessageFor(m => m.EmailAddress)

    <input type="submit" value="Submit" />
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

