#header .fixed-header {
    background-color: white!important;
}

#header {
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
#header .container {
  width: 100%!important;
}
footer {
  display: none!important;
}

input::placeholder {
  font-style: italic;
  opacity: 0.5;
}

.container {
  width: 100%!important;
}

#background-frame {
    background-image: url("../../Assets/frames/Background_frame_grey.svg");
    width: 100%;
    height: 611px;
    background-size: cover;
    background-repeat: no-repeat;
}

.signUp-title {
    position: absolute;
    top: 103px;
    left: 314px;
    margin: 0;
    font-size: 40px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #838383;
}

#sign-up-charity {
  margin-left: auto;
  margin-right: auto;
  margin-top: -403px;
  margin-bottom: 150px;
  width: 1109px;
  min-height: 940px;
  transition: all .2s ease-in-out;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}


#section-2 {
  display: none;
}

section:nth-child(2), section:nth-child(3), section:nth-child(4){
  display: none;
}

#donating-choose {
    width: 1109px;
    height: 782px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    top: 0;
    margin-top: -394px;
    margin-bottom: 230px;
    position: relative;
}

.signUp-step {
    background-image: url("../../Assets/shape-frame.svg");
    width: 65px;
    height: 62px;
    background-size: contain;
    position: absolute;
    top: 94px;
    left: 220px;
    background-repeat: no-repeat;
}

.signUp-step p {
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    color: white;
    margin-top: 12px;
}

.signUp-close {
    width: 2px;
    height: 30px;
    transform: rotate(45deg);
    background-color: #838383;
    position: absolute;
    right: 15px;
    top: 0px;
}

.closing {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 19px;
    top: 19px;
}

.signUp-close:nth-child(1) {
    transform: rotate(-45deg);
}

.goBack-holder {
  position: absolute;
  top: -45px;
}

.goBack-holder p {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  color: white;
  padding-left: 15px;
}
.goBack-holder .go-back-icon {
  background-image: url(../../Assets/icons/white-arrow.svg);
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  display: inline-block;
}

.goBack-holder a {
  width: 100%;
  height: 40px;
  display: block;
  position: absolute;
  top: -1px;
}

.signUp-progress {
    position: absolute;
    top: 94px;
    left: 99px;
}

.orange-ball {
    width: 13px;
    height: 13px;
    background-color: #ffffff;
    border: solid 4px #f88356;
    border-radius: 100%;
    margin-bottom: 80px;
    display: inherit;
    position: relative;
}

.orange-ball-closed {
  width: 13px;
  height: 13px;
  background-color: #f88356;
  border: solid 4px #f88356;
  border-radius: 100%;
  margin-bottom: 80px;
  display: inherit;
  position: relative;
}

.grey-ball {
    height: 13px;
    width: 13px;
    background-color: #d8d8d8;
    border-radius: 100%;
    margin-bottom: 80px;
    display: inherit;
}

.first-section, .second-section, .third-section, .fourth-section {
  cursor: pointer;
}

.required-dot {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #f88356;
  transform: rotate(-270deg);
  position: absolute;
  right: 26px;
  top: 23px;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(0deg);
}


.filled-icon {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #f88356;
  transform: rotate(-270deg);
  position: absolute;
  right: 26px;
  top: 23px;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(0deg);
}

.progress-stroke {
  position: absolute;
  top: 8px;
  left: 0px;
  width: 5px;
  height: 82px;
  background-color: #f88356;
}

.radio-holder .radio-input-tag {
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #838383;
  margin-top: 23px;
}

.standard-input:first-child {
  margin-top: 37px;
  margin-left: 219px;
  width: 630px;
  height: 50px;
  border-radius: 8px;
  border: solid 1px #b1b1b1;
  position: relative;
}

.big-distance {
  margin-top: 38px!important;
}

.standard-input {
  margin-top: 10px;
  margin-left: 219px;
  width: 630px;
  height: 50px;
  border-radius: 8px;
  position: relative;
}

.standard-input:required {
  border: solid 1px red;
}

.standard-input input {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: none;
  color: #838383;
  font-size: 18px;
  padding-left: 20px;
  outline: none;
  border: solid 1px #b1b1b1;
}

.standard-input input::placeholder {
  font-size: 18px;
  color: #838383;
  font-style: italic;
}

.jquery-select {
  width: 630px;
  min-height: 50px;
  border-radius: 8px;
  border: solid 1px #b1b1b1;
  margin-left: 219px;
  position: relative;
}

.jquery-select .option {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 18px;
font-weight: 300;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #838383;
font-family: 'Source Sans Pro', sans-serif;

}
.jquery-select select {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.jquery-select input {
  width: 100%!important;
  min-height: 50px;
  border-radius: 8px;
  border: none;
  padding-left: 20px;
}

.jquery-select input::placeholder {
  font-size: 18px;
  color: #838383;
  font-style: italic;
}

.jquery-select .item {
  font-size: 18px;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  color: #838383;
  font-size: 18px;
  font-weight: 400;
}

.chevron {
  background-image: url(../../Assets/icons/stroke-down.svg);
  width: 18px;
  height: 10px;
  transform: rotate(-270deg);
  position: absolute;
  right: 18px;
  top: 50%;
  z-index: 20;
  background-repeat: no-repeat;
  transform: rotate(0deg);
}

.head-partje {
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.36;
  letter-spacing: normal;
  color: #838383;
  margin-bottom: 0;
}

.select-category {
  margin-top: 10px;
}

.radio-holder {
  display: inline-block;
}

.big-radio-button {
  display: inline-block;
  margin-top: 210px;
  margin-left: 219px;
}

.radio-holder input[type="radio"] {
  display: none;
}

.radio-holder input[type="radio"]:not(:disabled) ~ label {
    cursor: pointer;
  }

.radio-holder input[type="radio"]:disabled ~ label {
    color: hsla(150, 5%, 75%, 1);
    border-color: hsla(150, 5%, 75%, 1);
    box-shadow: none;
    cursor: not-allowed;
  }

.radio-holder label {
  display: block;
  padding: 1rem;
  margin-right: 30px;
  text-align: center;
  box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
  position: relative;
  width: 190px;
  height: 100px;
  border-radius: 8px;
  background-color: #ffffff;
  border: solid 1px #b1b1b1;
}

.radio-holder input[type="radio"]:checked + label {
  border: solid 2px #b8e986;
}

.radio-holder input[type="radio"]:checked + label::after {
  color: hsla(215, 5%, 25%, 1);
  content: url(../../Assets/icons/Icon_checkbox.svg);
  font-size: 24px;
  position: absolute;
  top: -15px;
  right: -18px;
  transform: translateX(-50%);
}

/* Selection 1 */

.Anbi-explain {
  width: 635px;
  height: 86px;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #838383;
  margin-top: 10px;
  margin-left: 219px;
  font-size: 18px;
}

#payment-details {
  margin-top: 50px;
  margin-left: 218px;
}

.card-data .country {
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #838383;
  margin-top: 23px;
}

.card-data #first-numbers {
  width: 77px;
  height: 50px;
  margin-left: 15px;
  margin-right: 10px;
  border-radius: 8px;
  border: solid 1px #b1b1b1;
  padding-left: 20px;
  color: #838383;
  font-size: 18px;
}

.card-data #last-numbers {
  width: 375px;
  height: 50px;
  border-radius: 8px;
  border: solid 1px #b1b1b1;
  margin-left: 15px;
  margin-right: 10px;
  padding-left: 20px;
  color: #838383;
  font-size: 18px;
}

.select-bank {
  margin-top: -3px;
  width: 110px;
  height: auto;
  border-radius: 8px;
  border: solid 1px #b1b1b1;
  position: relative;
  display: inline-block;
  margin-left: 0;
  vertical-align: middle;
}

.select-bank input {
  width: 100%!important;
  min-height: 0;
  border-radius: 8px;
  border: none;
  padding-left: 0;
}

.select-bank .chevron {
  background-image: url(../../Assets/icons/stroke-down.svg);
  width: 18px;
  height: 10px;
  transform: rotate(-270deg);
  position: absolute;
  right: 18px;
  top: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(0deg);
}

.select-bank .option:hover {
  background-color: #EAEAEA;
}

.select-bank .item {
  padding: 0;
}

.select-bank .selectize-input input::placeholder  {
  font-style: italic;
  }

  .select-bank .selectize-control .selectize-dropdown {
    top: 40px!important;
    border-radius: 8px;
    width: 110px!important;
    z-index: 200;
    position: absolute;
    left: -2px!important;
    border: solid 1px #b1b1b1;
    background-color: white;
  }
  
  
  .select-bank .option:first-child {
    margin-top: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .select-bank .option:last-child {
    margin-bottom: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

.select-bank .selectize-control {
position: absolute;
top: 12px;
left: 15px;
width: 80%;
font-size: 18px;
font-weight: 300;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #838383;
font-family: 'Source Sans Pro', sans-serif;
}

.select-bank .selectize-input input {
  width: 80%!important;
  border: none;
  outline: none;
}

.select-bank .selectize-control .selectize-dropdown {
  top: 36px!important;
  border-radius: 8px;
  z-index: 200;
  position: absolute;
  left: -15px!important;
  border: solid 1px #b1b1b1;
  background-color: white;
}

.select-bank .selectize-dropdown-content {
/* padding-left: 15px; */
}

#contact-data {
  margin-top: 50px;
  margin-left: 218px;
}

.next-step-holder {
  margin-top: 60px;
  margin-bottom: 120px;
  margin-left: 219px;
  display: inline-block;
}

.next-step {
    border-radius: 8px;
    width: 195px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.error-message {
  display: inline-block;
  padding-bottom: 21px;
  vertical-align: middle;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #d00202;
  margin-left: 25px;
}

.next-step span {
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    position: absolute;
    top: 8px;
    left: 35px;
}

.next-step .arrow {
    background-image: url("../../Assets/icons/icon_arrow_white.svg");
    width: 18px;
    height: 14px;
    background-size: contain;
    position: absolute;
    top: 13px;
    left: 12px;
    background-repeat: no-repeat;
}

/* Section 2 */

.pay-option {
  display: inline-block;
  margin-top: 182px;
  margin-left: 180px;
}

.email-input-holder {
  margin-top: 10px;
  margin-left: 187px;
  width: 630px;
  height: 50px;
  border-radius: 8px;
  border: solid 1px #b1b1b1;
  position: relative;

}

.email-input-holder input, .your-iban-holder input {
  padding-left: 15px;
  font-size: 18px;
  outline: none;
  margin-top: 10px;
  border: none;
}

.email-input-holder input::-moz-placeholder, .your-iban-holder input::-moz-placeholder {
  font-size: 18px;
  font-weight: 300;
  opacity: 0.6;
}

.email-input-holder .filled-icon, .your-iban-holder .filled-icon {
  width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #f88356;
    /* background-image: url(../../Assets/icons/stroke-down.svg); */
    transform: rotate(-270deg);
    position: absolute;
    right: 26px;
    top: 23px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(0deg);
}


#person-addition {
  width: 85px;
  height: 50px;
}

.person-lastname, .person-housenumber, .person-postcode {
  position: relative;
  display: inline-block;
}

#person-birth-day, #person-birth-month, #person-birth-year {
  width: 85px;
  height: 50px;
}

.personal-information .person-information-birthday {
  margin-top: 30px;

}

/* Section 3 */

.section-02 .payment-holder {
  width: 825px;
  height: 140px;
  padding-bottom: 30px;
  padding-top: 30px;
  border-radius: 8px;
  border: solid 1px #b1b1b1;
  margin-top: 175px;
  margin-left: 190px;
  display: inline-block;
  position: relative;
}

.section-02 .payment-user-info-holder {
  width: 825px;
  padding-bottom: 30px;
  padding-top: 30px;
  border-radius: 8px;
  border: solid 1px #b1b1b1;
  margin-top: 206px;
  margin-left: 220px;
  display: inline-block;
  position: relative;
}

.section-02 .payment-holder p, .section-02 .payment-user-info-holder p {
font-size: 18px;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #838383;
padding-left: 35px;
}

.section-02 .payment-holder p span , .section-02 .payment-user-info-holder p span {
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #838383;
  padding-left: 5px;
  }


.section-02 .pen-icon {
  width: 30px;
    height: 30px;
    background-color: #f88356;
    border-radius: 100%;
    position: absolute;
    top: -10px;
    right: -10px;
}
.pen-icon .pen-icon-image {
 background-image: url("../../Assets/icons/Icon_edit.svg");
 width: 30px;
 height: 30px;
}

.request-holder {
  width: 554px;
  height: 23px;
  margin-top: 211px;
  margin-left: 221px;
  display: inline-block;
}

.check-icon {
  background-image: url(../../Assets/icons/Icon_checkbox.svg);
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -6px;
  margin-right: 11px;
}

.request-in-admission {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #838383;
}

.request-joining {
  width: 694px;
  height: 100px;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: normal;
  color: #838383;
  margin-top: 10px;
  margin-left: 221px;
}

.close-donating-page {
  width: 182px;
  height: 40px;
  border-radius: 8px;
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-left: 221px;
  margin-top: 35px;
  margin-bottom: 120px;
}

/* invalid  */

.big-radio-button .not-valid {
  border: solid red 1px;
}

.not-valid {
  border: solid red 1px !important;
}

.not-valid ~ label.validatable {
  border: solid red 1px !important;
}

.error-message {
  display: none;
}

/* CHeckbox  */

.category-checkbox-holder {
  /* float: right; */
}
.category-dropdown-holder {
 /* width: 255px; */
 /* float: right; */
 position: relative;
}

.category-dropdown {
  width: 630px;
  height: 50px;
  border-radius: 8px;
  border: solid 1px #b1b1b1;
  position: relative;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 219px;
}

.category-dropdown p {
 font-stretch: normal;
 line-height: normal;
 text-align: left;
 width: 100%;
 padding-top: 14px;
 letter-spacing: normal;
 color: #838383;
 font-size: 18px;
 padding-left: 20px;
}

.category-dropdown p.placeholder {
    font-style: italic;
    opacity: 0.5;
}

.category-dropdown i {
 position: absolute;
 top: 20px;
 right: 21px;
 color: #f88356;
}

.category-dropdown-clicked {
 border-bottom: none;
 border-bottom-left-radius: 0;
 border-bottom-right-radius: 0;
}

.checkbox-dropdown {
  width: 630px;
  position: absolute;
  left: 219px;
  top: 50px;
  border-left: solid 1px #b1b1b1;
  border-radius: 8px;
  border: solid 1px #b1b1b1;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 201;
  display: none;
  background-color: white;
}

.checkbox-item p{
 font-size: 14px;
 font-style: normal;
 font-stretch: normal;
 line-height: 2.5;
 letter-spacing: normal;
 color: #838383;
 text-align: left;
 padding-left: 19px;
}

.checkbox-dropdown label {
 text-align: left;
 font-style: normal;
 font-stretch: normal;
 line-height: 2.5;
 letter-spacing: normal;
 color: #838383;
 font-size: 14px;
 padding-top: 3px;
}

.checkbo-container {
 position: relative;
 width: 100%;
 padding-left: 19px;
 cursor: pointer;
 font-size: 22px;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 transition-duration: 0.25s;
}

.checkbo-container:hover {
 background-color: #EAEAEA;
}


/* Hide the browser's default checkbox */
.checkbo-container input {
 position: absolute;
 opacity: 0;
 cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
 position: absolute;
 top: 8px;
 right: 11px;
 height: 25px;
 width: 25px;
 /* background-color: #eee; */
}

/* On mouse-over, add a grey background color */
.checkbo-container:hover input ~ .checkmark {
 /* background-color: #ccc; */
}

/* When the checkbox is checked, add a blue background */
.checkbo-container input:checked ~ .checkmark {
 /* background-color: #2196F3; */
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
 content: "";
 position: absolute;
 display: none;
}

/* Show the checkmark when checked */
.checkbo-container input:checked ~ .checkmark:after {
 display: block;
}

/* Style the checkmark/indicator */
.checkbo-container .checkmark:after {
 left: 9px;
 top: 5px;
 width: 6px;
 height: 13px;
 border: solid #b8e986;
 border-width: 0px 2px 2px 0px;
 -webkit-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 transform: rotate(45deg);
}

#question-icon {
  margin-bottom: 4px;
  margin-left: 9px;
}