#header .fixed-header {
    background-color: white;
}

.container {
    width: 100% !important;
    padding: 0;
}

#add-header-image {
    width: 1109px;
    margin-left: auto;
    margin-right: auto;
}

.mytext-container {
    width: 100%;
    float: left;
    margin-top: -414px;
    text-align: center;
}

.mytext-container label {
    font-family: 'Source Sans Pro', sans-serif;
    width: 393px;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #838383;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.mytext-container:hover label {
    opacity: 1 !important;
    text-shadow: 0px 0px 30px white,0px 0px 30px white,0px 0px 30px white,0px 0px 10px #553300,0px 0px 10px #553300;
    cursor: pointer;
}

.icon-show {
width: 36px;
height: 36px;
margin-left:10px;
background-size: 100%;
cursor: pointer;
}

#header .container {
    width: 1440px !important;
}

.story-container {
    width: 1109px !important;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    margin-top: -220px !important;
    padding: 0 !important;
    margin-bottom: 150px;
}

.story-logo {
    position: absolute;
    top: -80px;
    width: 100%;
}

.story-logo-container {
    position: relative;
    width: 100%;
}

.add-button {
    background-size: 100%;
    width: 24.6px;
    height: 24.6px;
    margin-left: 10px;
    margin-top: -4px;
    cursor: pointer;
}

.view-text {
    float: left;
    width: 100%;
    margin-top: -140px;
}

.view-text label {
    float: right;
    width: auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: normal;
    color: #ffffff;
    cursor: pointer;
}

.view-text a {
    text-decoration: none;
    cursor: pointer;
}

.shape-frame {
    -webkit-mask-image: url(../../Assets/icons/Icon_add-person.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    background-position: 60% 50%;
    width: 177px;
    height: 169px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.shape-frame label {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.profile-name-container {
    width: 349px;
    height: 50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

}
.profile-name {
    font-family: 'Source Sans Pro', sans-serif;
    width: 349px;
    height: 50px;
    border-radius: 8px;
    border: solid 1px #b1b1b1;
    margin-left: auto;
    margin-right: auto;
    outline: none;
}

input[type=text] {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #838383;
    text-align:left;
}

.profile-name::-webkit-input-placeholder {
    opacity: 0.5;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #838383;
    font-style: italic;
}

.profile-name {
    padding: 15px 15px 15px 15px;
}

#about {
    float: left;
    width: 100%;
}


.title-container {
    width: 790px;
    height: 50px;
    margin-top: 137px;
    border-radius: 8px;
    border: solid 1px #b1b1b1;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 15px 15px 15px 15px;
    width: 100%;
    height: 100%;
    border: hidden;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    outline: none;
}

.storypart-1-container {
    width: 790px;
    height: 153px;
    border-radius: 8px;
    border: solid 1px #b1b1b1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.storypart-2-container {
    width: 790px;
    height: 325px;
    border-radius: 8px;
    border: solid 1px #b1b1b1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.storypart-3-container {
    width: 790px;
    height: 325px;
    border-radius: 8px;
    border: solid 1px #b1b1b1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.story {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 13px 15px 15px 15px;
    width: 100%;
    height: 100%;
    border: hidden;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #838383;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    text-align: left;
    outline: none;
}

.quote-container {
    width: 790px;
    height: 190px;
    border-radius: 8px;
    border: solid 1px #b1b1b1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-style: dashed;
}

#quote {
    width: 100%;
    height: 100%;
    border: hidden;
    font-family: 'Kalam', sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #f88356;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    padding: 20px 20px 15px 20px;
    resize: none;
    overflow: hidden;
}

.quote::-webkit-input-placeholder {
    opacity: 0.5;
    font-family: 'Kalam', sans-serif;
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #838383;
    font-style: normal;
}

.title::-webkit-input-placeholder {
    opacity: 0.5;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #838383;
    font-style: italic;
}

.story::-webkit-input-placeholder {
    opacity: 0.5;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    letter-spacing: normal;
    color: #838383;
    text-align: left;
    line-height: normal;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
}

input[type=text] {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #838383;
    text-align: left;
}

.about-text {
    display: block;
    width: 100%;
    text-align: left;
    padding-top: 75px;
}

.story-image {
    position: relative;
    width: 790px;
    height: 356px;
    border-radius: 8px;
    border: solid 1px #b1b1b1;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-style: dashed;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.story-image label {
    font-family: 'Source Sans Pro', sans-serif;
    opacity: 0.5;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #838383;
    vertical-align: middle;
    margin-top: 133px;
    width: 100%;
    cursor: pointer;
}

.story-image:hover label.has-shadow {
    opacity: 1 !important;
    text-shadow: 0px 0px 30px white,0px 0px 30px white,0px 0px 30px white,0px 0px 10px #553300,0px 0px 10px #553300;
    cursor: pointer;
}

.images-container {
    width: 790px;
    margin-left: auto;
    margin-right: auto;
}

.story-image-2 {
    float: left;
    width: 390px;
    height: 260px;
    border-radius: 8px;
    border: solid 1px #b1b1b1;
    border-style: dashed;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.story-image-2 label {
    font-family: 'Source Sans Pro', sans-serif;
    opacity: 0.5;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #838383;
    vertical-align: middle;
    margin-top: 68px;
    width: 100%;
    cursor: pointer;
}

.story-image-2:hover label.has-shadow {
    opacity: 1 !important;
    text-shadow: 0px 0px 30px white,0px 0px 30px white,0px 0px 30px white,0px 0px 10px #553300,0px 0px 10px #553300;
    cursor: pointer;
}

.story-image-3 {
    float: left;
    width: 390px;
    height: 260px;
    border-radius: 8px;
    border: solid 1px #b1b1b1;
    margin-top: 10px;
    margin-left: 10px;
    border-style: dashed;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-bottom: 20px;
}

.story-image-3 label {
    font-family: 'Source Sans Pro', sans-serif;
    opacity: 0.5;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #838383;
    vertical-align: middle;
    margin-top: 68px;
    width: 100%;
    cursor: pointer;
}

    .story-image-3:hover label.has-shadow {
        opacity: 1 !important;
        text-shadow: 0px 0px 30px white,0px 0px 30px white,0px 0px 30px white,0px 0px 10px #553300,0px 0px 10px #553300;
        cursor: pointer;
    }

.image-import {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.button-box {
    text-align: center;
    margin-top: 20px;
}

.image-icon-box {
    text-align: center;
    margin: 0 auto;
    background-image: url("../../Assets/icons/Icon_picture.svg");
    width: 38px;
    height: 38px;
    border-radius: 8px;
}

.video-icon-box {
    text-align: center;
    margin: 0 auto;
    background-image: url("../../Assets/icons/Icon_video.svg");
    width: 38px;
    height: 38px;
    margin-left: 13px;
    border-radius: 8px;
}

#story-info {
    width: 1109px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -104px;  
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.header-image {
    display: block;
    width: 100%;
    height: 610px;
    background-size: cover;
    margin-top: -90px;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    border-bottom-left-radius: 80% 10%;
    border-bottom-right-radius: 80% 10%;
}


.main-storyboard {
    display: block;
    width: 100%;
}

.container {
    position: relative;
    font-family: Arial;
}

.add-more-label {
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #838383;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor:pointer;
}

.add-more-button {
    background-size: 100%;
    width: 24.6px;
    height: 24.6px;
    margin-left:10px;
    margin-top: -5px;
    cursor: pointer;
}

.send-button {
    width: 142px;
    height: 40px;
    border-radius: 8px;
    margin-top: 80px;
    margin-bottom: 60px;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.send-button span {
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    position: relative;
    top: 8px;
    left: 20px;
    float: left;
}

.send-button .arrow {
    background-image: url("../../Assets/icons/icon_arrow_white.svg");
    width: 18px;
    height: 14px;
    background-size: contain;
    position: relative;
    float: left;
    top: 13px;
    left: 12px;
    background-repeat: no-repeat;
}

.select-charity {
    width: 790px;
    margin: auto;
    position: relative;
    height: 50px;
    margin-top: 10px;
    border-radius: 8px;
    border: solid 1px #b1b1b1;
  }
  .select-charity .chevron {
    background-image: url(../../Assets/icons/stroke-down.svg);
    width: 18px;
    height: 10px;
    transform: rotate(-270deg);
    position: absolute;
    right: 18px;
    top: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(0deg);
  }
  
  .select-action {
     display: none;
     margin-top: 10px;
  }
  
  .select-charity .selectize-control {
    position: absolute;
      top: 12px;
      padding-left: 20px;
      width: 100%;
      font-size: 18px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #838383;
      font-family: 'Source Sans Pro', sans-serif;
  }
  
  
  .select-charity .selectize-input input {
   width: 80%!important;
   border: none;
   outline: none;
  }
  
  .select-charity .selectize-input input::placeholder  {
   font-style: italic;
   }
  
  .select-charity .selectize-control .selectize-dropdown {
    top: 27px !important;
    border-radius: 8px;
    width: 790px !important;
    z-index: 200;
    position: absolute;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    left: -1px!important;
    border-right: solid 1px #b1b1b1;
    border-left: solid 1px #b1b1b1;
    border-bottom: solid 1px #b1b1b1;
    background-color: white;
  }

  .select-charity .selectize-input input::placeholder  {
    font-style: italic;
    opacity: 0.5;
    }
  
  .select-charity .option {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
  
  .select-charity .option:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .select-charity .option:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  .select-charity .option:hover {
    background-color: #EAEAEA;
  }