<div id="disclaimer-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title monster-700">Disclaimer</h3>
            </div>
            <div class="modal-body">
                <p>
                    Ikdoneer.nu is een platform dat is bedacht, gebouwd en ontworpen in het kader van een schoolproject. Zeven studenten van de Hogeschool Rotterdam hebben dit <strong>fictieve</strong> platform ontwikkeld. Dit wil zeggen dat u hier dus niet daadwerkelijk een goed doel kunt aanmelden, kunt doneren, een actie kan aanmaken of uw verhaal kunt delen. De informatie over de genoemde goede doelen en/of stichtingen is dan ook <strong>niet geheel werkelijk of actueel</strong>. Bezoek voor werkelijke en actuele informatie de websites van de goede doelen zelf.
                </p>
            </div>
            <div class="modal-footer">
                <div id="close-disclaimer-modal" class="big-button colored-button" data-dismiss="modal"><span>Ik begrijp het</span></div>
            </div>
        </div>
    </div>
</div>