<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ikdoneer.nu</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/main.css" />
        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css"> @RenderSection("Styles", required: false)

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
        />
    </environment>
</head>

<body>
    <nav id="header">
        <div class="fixed-header">
                <a href="www.ikdoneer.nu" class="header-logo">
            </a>

            <div class="header-big-menu">
                <ul class="monster-200">
                    <li><a href="/search">Goede doelen</a></li>
                    <li><a href="#">Acties</a></li>
                    <li><a href="#">Verhalen</a></li>
                    <li><a href="#">Ik Doneer Nu</a></li>
                </ul>
            </div>

            <div class="header-icon-menu">
                <ul>
                    <li>
                        <a class="icon-search" href="#"></a>
                    </li>
                     <li>
                        <a class="icon-user-circle" href="#"></a>
                    </li>
                    <li>
                        <a href="#" class="donateSVG"></a>
                    </li> 
                </ul>
            </div>
        </div>
    </nav>


    <div class="body-content">
        @RenderBody()
        </div>

        <footer>
            <div class="footer-holder">
                <div class="container"></div>
                <div class="row">
                    <div class="col-md-2">
                        <div>
                            <ul>
                                <li><label><a href="#">Ik Doneer Nu</a></label></li>
                                <li><a href="/search">Goede doelen</a></li>
                                <li><a href="#">Acties</a></li>
                                <li><a href="#">Verhalen</a></li>
                                <li><a href="#">Ik Doneer Nu</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Log in</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div>
                            <ul>
                                <li><label><a href="#">Diensten voor</a></label></li>
                                <li><a href="#">Donateurs</a></li>
                                <li><a href="/search">Goede doelen</a></li>
                                <li><a href="#">Acties</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div>
                            <ul>
                                <li><label><a href="#">Over doneren</a></label></li>
                                <li><a href="#">ANBI-certificaat</a></li>
                                <li><a href="#">Belasting</a></li>
                                <li><a href="#">Betalingen</a></li>
                                <li><label><a href="#">Doneer nu</a></label></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 updateArea">
                        <label><a href="#">Updates</a></label>

                        <p>Meld je aan voor de nieuwsvideo en blijf op de hoogte van de laatste updates.</p>

                        <div class="sign-up-news">
                            <form action="action_page.php" id="form1">

                                <div class="email-holder">
                                    <input type="text" placeholder="E-mailadres" name="mail" required>
                                    <button type="submit" form="form1" value="Submit"><div class="footer-email-arrow"></div></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="footer-line"></div>
                <div class="footer-info">
                    <div class="footer-info-left">
                        <p class="footer-copyright">&#xa9; 2018 Ik Doneer Nu</p>
                        <p class="footer-privacy">Privacy</p>
                        <p class="footer-cookies">Cookies</p>
                        <p class="footer-help">Help</p>
                    </div>
                    <div class="footer-info-right">
                        <div class="footer-youtube"><a href="#"></a></div>
                        <div class="footer-facebook">
                            <a class="footer-facebook-link" href="#"></a>
                            <a class="footer-instagram-link" href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
    </footer>
    <!-- </div> -->

    <environment include="Development">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
        <script src="~/js/selectize.min.js"></script>
        <script src="~/js/main.js"></script>
        

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Latest compiled JavaScript -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,300i,400,700,800|Source+Sans+Pro:300,300i,400,700" rel="stylesheet">

    </environment>
    <environment exclude="Development">
    </environment>

    @RenderSection("Scripts", required: false)
</body>

</html>