@using Sombra.Web.Infrastructure.Extensions
@model Sombra.Web.ViewModels.Shared.StoryViewModel
<div class="story_image" style="background-image:url(@Model.CoverImage)">
    <div class="story_gradient"></div>
    <div class="text_container">

        <span>@Model.AuthorName, initiatiefnemer</span>
        <h3>
            “@Model.Title”
        </h3>
        <a href="@($"{Html.SubdomainUrl(Model.CharityUrl)}/{Model.UrlComponent}")" class="read-more-this-story">Lees meer</a>
        <div class="story-btn-holder">
            <div class="secondary-button">
                <a href="/verhalen"></a>
                <label>Lees de verhalen</label>
            </div>
        </div>
    </div>
</div>