#header .fixed-header {
    background-color: white!important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#background-frame {
    background-image: url("../../Assets/frames/Background_frame_grey.svg");
    width: 100%;
    height: 611px;
    background-size: cover;
    background-repeat: no-repeat;
}

.donate-title {
    position: absolute;
    top: 75px;
    left: 283px;
    margin: 0;

    font-size: 40px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #838383;
}

#form-donate {
  margin-left: auto;
  margin-right: auto;
  margin-top: -403px;
  margin-bottom: 150px;
  width: 1109px;
  height: 845px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}

#section-2, #section-3, #section-4 {
  display: none;
}

section:nth-child(2), section:nth-child(3), section:nth-child(4){
  display: none;
}

#donating-choose {
    width: 1109px;
    height: 782px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    top: 0;
    margin-top: -394px;
    margin-bottom: 230px;
    position: relative;
}

.donate-step {
    background-image: url("../../Assets/shape-frame.svg");
    width: 65px;
    height: 62px;
    background-size: contain;
    position: absolute;
    top: 63px;
    left: 189px;
    background-repeat: no-repeat;
}

.donate-step p {
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    color: white;
    margin-top: 12px;
}

.donate-close {
    width: 2px;
    height: 30px;
    transform: rotate(45deg);
    background-color: #838383;
    position: absolute;
    right: 15px;
    top: 0px;
}

.closing {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 19px;
    top: 19px;
}

.donate-close:nth-child(1) {
    transform: rotate(-45deg);
}

.donate-progress {
    position: absolute;
    top: 63px;
    left: 63px;
}

.orange-ball {
    width: 13px;
    height: 13px;
    background-color: #ffffff;
    border: solid 4px #f88356;
    border-radius: 100%;
    margin-bottom: 80px;
    display: inherit;
}

.grey-ball {
    height: 13px;
    width: 13px;
    background-color: #d8d8d8;
    border-radius: 100%;
    margin-bottom: 80px;
    display: inherit;
}

.radio-holder .radio-input-tag {
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #838383;
}

.radio-holder {
  display: inline-block;
}

.choose-cause {
  position: absolute;
  top: 188px;
  left: 182px;
}


.radio-holder input[type="radio"] {
  display: none;
}

.radio-holder input[type="radio"]:not(:disabled) ~ label {
    cursor: pointer;
  }

.radio-holder input[type="radio"]:disabled ~ label {
    color: hsla(150, 5%, 75%, 1);
    border-color: hsla(150, 5%, 75%, 1);
    box-shadow: none;
    cursor: not-allowed;
  }

.radio-holder label {
  display: block;
  padding: 1rem;
  margin-bottom: 1rem;
  margin: 1rem;
  text-align: center;
  box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
  position: relative;
  width: 190px;
  height: 100px;
  border-radius: 8px;
  background-color: #ffffff;
  border: solid 1px #b1b1b1;
}

.radio-holder input[type="radio"]:checked + label {
  border: solid 2px #b8e986;
}

.radio-holder input[type="radio"]:checked + label::after {
  color: hsla(215, 5%, 25%, 1);
  content: url(../../Assets/icons/Icon_checkbox.svg);
  font-size: 24px;
  position: absolute;
  top: -15px;
  right: -18px;
  transform: translateX(-50%);
}

.select-charity {
    position: absolute;
    top: 322px;
    left: 191px;

    width: 630px;
    height: 50px;
    border-radius: 8px;
    border: solid 1px #b1b1b1;
}

.select-action {
  top: 390px;
  display: none;
}

.select-charity .selectize-control {
  position: absolute;
  top: 12px;
  left: 15px;
  width: 80%;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #838383;
  font-family: 'Source Sans Pro', sans-serif;
}

.select-charity .selectize-input input {
 width: 80%!important;
}

.select-charity .selectize-control .selectize-dropdown {
  top: 40px!important;
  border-radius: 8px;
  z-index: 200;
  position: absolute;
  left: -16px!important;
  border: solid 1px #b1b1b1;
  background-color: white;
}

.section-1-choose-amount {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.36;
    letter-spacing: normal;
    color: #838383;
    position: absolute;
    top: 482px;
    left: 195px;
}

.select-charity .chevron {
  background-image: url(../../Assets/icons/stroke-down.svg);
  width: 18px;
  height: 10px;
  transform: rotate(-270deg);
  position: absolute;
  right: 18px;
  top: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(0deg);
}

.choose-money-amount {
  position: absolute;
  top: 525px;
  left: 182px;
}

.payment-options {
  position: absolute;
  top: 661px;
  left: 188px;
}

.payment-options  .radio-holder label {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.payment-options  .radio-holder label h2 {
  position: absolute;
  top: -24px;
  left: 34px;
}

.payment-options .radio-holder input[type="radio"]:checked + label::after {
  color: hsla(215, 5%, 25%, 1);
  content: url(../../Assets/icons/Icon_checkbox.svg);
  font-size: 24px;
  position: absolute;
  top: -5px;
  right: -10px;
  transform: translateX(-50%);
}

.payment-options .radio-holder input[type="radio"]:checked + label {
  border: none;
}

.payment-options .radio-holder {
  margin-right: 125px;
}

.next-step-holder {
  position: absolute;
  bottom: 62px;
  left: 189px;
}

.next-step {
  background-image: url("../../Assets/button/next-step-button.svg");
  width: 192px;
  height: 40px;
  position: relative;
}

