@model Sombra.Web.ViewModels.Search.CharityItemViewModel

<div class="action-item">
    <img src="Assets/placeholder.jpg" alt="#">
    <h4 class="action-title">Klimmen tegen MS</h4>
    <div class="colored-label"><a href="#">Gezondheid</a></div>
    <div class="action-information">
        Werken aan een toekomst zonder hart- en vaatziekten
    </div>
    <div class="action-btn-holder">
        <a href="#"><i class="fas fa-arrow-right"></i>
        </a>
    </div>
                            
</div>