@model Sombra.Web.ViewModels.Donate.DonateResultViewModel

@{
    Layout = null;
}

<div class="donate-progress">
    <div class="orange-ball-closed first-section">
        <div class="progress-stroke"></div>
    </div>
    <div class="orange-ball-closed second-section">
        <div class="progress-stroke"></div>
    </div>
    <div class="orange-ball-closed third-section">
        <div class="progress-stroke"></div>
    </div>
    <div class="orange-ball fourth-section"></div>
</div>

<div class="goBack-holder">
    <div class="go-back-icon"></div>
    <p class="source-500">Vorige stap</p>
    <a id="go-back" href="#"></a>
</div>

<a class="closing"><span class="donate-close"></span><span class="donate-close"></span></a>


<div class="title-holder">
    <div class="donate-step">
        <p>4</p>
    </div>
    <h3 class="donate-title monster-400">Het is gelukt!</h3>
</div>

<div class="thank-you-holder" style="background-image: url(@Model.CoverImage)">
    <div class="dark-gradient">
        <h3 class="monster-800">Bedankt voor je donatie!</h3>
    <p class="source-300">@Model.ThankYou</p>
    </div>
        </div>

<div class="share-social-media">
    <p class="monster-700">DEEL OP SOCIAL MEDIA</p>
    <div class="social-media-icon facebook"></div>
    <div class="social-media-icon twitter"></div>
    <div class="social-media-icon instagram"></div>
</div>


<div class="share-story">
    <h2 class="monster-200">Deel jouw verhaal</h2>
    <p class="source-300">Heb jij ook een bijzonder verhaal over doneren en wil je dat met ons delen? Dat kun je hier doen. Wie weet staat jouw verhaal straks op de homepage!</p>

    <div class="action-buttons">
        <div class="all-actions colored-button">
            <a href="#"></a>
            <span class="monster-700">Deel mijn verhaal</span>
        </div>
        <div class="make-actions blank-button">
            <a href="#"></a>
            <span class="monster-700">Bekijk de verhalen</span>
        </div>
    </div>
</div>


<div id="get-person-account">
    <h4 class="source-700">Jouw persoonlijke pagina op ikdoneer.nu!</h4>
    <p class="source-300">Met een account op ikdoneer.nu krijg je toegang tot een persoonlijke pagina. Je kunt je gegevens beheren, je donaties terug zien en verhalen delen.</p>

    <form id="sign-up-account">
        <input required type="email" placeholder="E-mailadres">
        <input required type="password" placeholder="Wachtwoord">
        <input required type="password" placeholder="Wachtwoord herhalen">
        <button type="submit"></button>
    </form>
</div>

<div id="ikdoneerGame">
    <div class="ikdoneer-text-holder">
        <h3 class="monster-200">Het ikdoneer.nu-spel</h3>
        <p class="source-300">Bedankt voor jouw donatie! Wij sturen standaard het ikdoneer.nu-kaartspel naar onze nieuwe donateurs. Daarvoor hebben we wel een adres nodig. Wil je het kaartspel ontvangen? Vul dan hier je gegevens in. Je donatie blijft anoniem.</p>
    </div>

    <div class="getIkdoneerGame">
        <label class="source-700">Ik wil het ikdoneer.nu-kaartspel ontvangen</label>

        <form id="getGameForm">
            <input required class="getGameName" placeholder="Naam">
            <input required class="getGamePostcode" placeholder="Postcode">
            <input required class="getGameNumber" placeholder="Nr.">
            <input class="getGameToev" placeholder="Toev.">
            <p class="addition-getgameform">Bijv. B</p>
            <button class="monster-800 colored-button" type="submit" >Ontvang het spel</button>
        </form>

    </div>
</div>
<button class="close-donating-page blank-button monster-800">Pagina sluiten</button>