@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Email</title>
</head>
<body>
<div style="background-image: url('/Assets/nabeleving-mail.png'); background-size: cover; height: 1868px; width: 1440px;"></div>
</body>
</html>