@model Sombra.Web.ViewModels.Charity.SearchResultsViewModel
@{
    Layout = null;
    var hasResults = Model.TotalNumberOfResults > 0 && Model.Results?.Any() != null;
}

<div id="charity-results-holder">
    <p class="results source-400"><span class="source-700">@Model.TotalNumberOfResults</span> zoekresultaten</p>

    <div id="charity-results">
        @if (hasResults)
        {
            foreach (var result in Model.Results)
            {
                @await Html.PartialAsync("_SearchResult", result)
            }
        }
    </div>
</div>


@if (hasResults)
{
    @await Html.PartialAsync("_Pagination", Model)
}