@using Sombra.Core.Enums
@using Sombra.Core.Extensions
@using Sombra.Web.Infrastructure.Extensions
@{ ViewData["Title"] = "Goede doelen"; }
@section Styles {
    <link rel="stylesheet" href="~/css/search/search.css" /> }
@section Scripts {
    <script src="~/js/search.js"></script>
}

<div id="filter">
    <a href="#" class="signin-charity source-600">Een goed doel aanmelden</a>
    <h2 class="monster-200 filter-title">Goede doelen</h2>

    <div class="form-holders">
        <input class="filter-input" type="text" placeholder="Zoeken..." name="Zoeken...">
        <button class="submit-button monster-300" type="button"><i class="fa fa-search"></i></button>

        <div class="category-checkbox-holder">

            <div class="category-dropdown-holder">
                <div class="category-dropdown">
                    <p class="monster-300">Categorieën</p>
                    <i class="fas fa-chevron-down"></i>
                </div>
                <div class="checkbox-dropdown">
                    @foreach (var category in typeof(Category).GetFlagValues<Category>().Where(v => (int)v != 0))
                    {
                        <div>
                            <label class="checkbo-container monster-300" data-category-id="@((int)category)">
                                @category.GetDisplayName()
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div id="selected-keywords">
    <p id="keywords-placeholder" class="source-300">Verfijn je zoekopdracht door steekwoorden in te voeren in de zoekbalk. Bijvoorbeeld ‘kinderen’ of ‘natuurgeweld’.</p>
    <div class="selected-keywords">
    </div>
</div>

<div id="search-results"></div>

<div id="keyword-template" class="hidden">
    <label class="selected-keyword source-800">
        {keyword}
        <span class="cross-holder">
            <div class="tag-kruisje">
                <span class="icon-holder">
                    <i class="fas fa-times"></i>
                </span>
            </div>

        </span>
    </label>
</div>