@{ ViewData["Title"] = "doneren"; } 
@section Styles{
<link rel="stylesheet" href="~/css/donating/donating.css" /> }

<div id="background-frame">

</div>

<div id="form-partial-holder">
    <div id="donating-choose">

        <div href="#" class="donate-close"></div>
        <div href="#" class="donate-close"></div>
        <a class="closing" href="#"></a>


        <div class="donate-progress">
            <a href="#" class="orange-ball"></a>
            <a href="#" class="grey-ball"></a>
            <a href="#" class="grey-ball"></a>
            <a href="#" class="grey-ball"></a>

        </div>
        <div class="donate-step">
            <p>1</p>
        </div>

        <h2 class="monster-300 donate-title">Ik doneer aan...</h2>

        <div class="choose"></div>

     

    </div>
</div>



<!-- <h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.  </p> -->