@{ ViewData["Title"] = "Home Page"; }
@section Styles{
    <link rel="stylesheet" href="~/css/home/home.css" />
    <link rel="stylesheet" media="screen and (min-width: 1200px)" href="~/css/home/desktop.css" />
    <link rel="stylesheet" media="screen and (min-width: 768px) and (max-width: 1200px)" href="~/css/home/tablet.css" />
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="~/css/home/mobile.css" />
}

@section Scripts {
    <script src="~/js/home.js"></script>
}

<img class="header-image" src="Assets/header-image-shape.svg" alt="#">

<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 about-text">
                <div class="row">
                    <div class="col-sm-6">
                        <p>Erik doneerde aan Unicef</p>
                        <h3><span class="about-quotes quote-shift">"</span>Anderen hebben mij laten zien hoe mooi de wereld kan zijn als je deelt<span class="about-quotes">"</span></h3>

                        <div class="about-btn">
                            <a href="#"></a>
                            <div class="small-arrow"></div>
                            <span>Lees zijn verhaal</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="home-info" class="col-md-12">
    <div class="container">
        <p>
            <bold>Ik doneer nu</bold> is hét platform waar alle goede doelen samenkomen. Voor jou is dat een stuk makkelijker. Kies het goede doel wat bij jouw waarden en interesses past en doneer nu.
            <br>
            <bold>Zo simpel is het!</bold>
        </p>
    </div>
</div>

<div id="choose-flow">
    <div class="flow-container">
        <div class="flow-box">
            <a class="clickable" href="#"></a>
            <div class="flow-icon-holder">
                <img class="flow-shape" src="Assets/shape-frame.svg" alt="#">
                <img class="flow-icon" src="Assets/search.svg" alt="#">
            </div>

            <h3 class="monster-700">Kies een goed doel</h3>
            <p class="source-200">Door gebruik te maken van het categorieënfilter, vind je gemakkelijk een goed doel dat bij jouw waarden en interesses past. </p>
            <a class="source-700 flow-start" href="#">Start nu</a>
        </div>

        <div class="flow-box">
            <a class="clickable" href="#"></a>
            <div class="flow-icon-holder">
                <img class="flow-shape" src="Assets/shape-frame.svg" alt="#">
                <img class="flow-icon" src="Assets/icons/doneer.png" alt="#">
            </div>

            <h3 class="monster-700">Doneer nu</h3>
            <p class="source-200">Kies het bedrag dat je wilt doneren en kies een betaalmogelijkheid. Vanaf €1,00 kun je al iets bijdragen! </p>
            <a class="source-700 flow-start" href="#">Start nu</a>
        </div>

        <div class="flow-box">
            <a class="clickable" href="#"></a>
            <div class="flow-icon-holder">
                <img class="flow-shape" src="Assets/shape-frame.svg" alt="#">
                <img class="flow-icon" src="Assets/share.svg" alt="#">
            </div>

            <h3 class="monster-700">Deel jouw verhaal</h3>
            <p class="source-200">Vertel ons de reden achter jouw donatie. Dat inspireert en motiveert anderen én jouzelf om je in te zetten voor degene die hulp kunnen gebruiken.</p>
            <a class="source-700 flow-start" href="#">Start nu</a>
        </div>
    </div>
</div>


<div id="home-contribute" class="standard-text">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 contribute-textArea">
                <h3>Draag jouw steentje bij via deze goede doelen</h3>
                <p>Wil je ziekten bestrijden, musea steunen of ga je liever voor internationale hulp? Op de pagina van de stichting vind je meer informatie over het goede doel, de lopende projecten en ervaringen van de donateurs die je voorgingen!</p>

                <div class="big-button">
                    <span>Bekijk de goede doelen</span>
                    <a href="#"></a>
                </div>


            </div>
            <div class="col-md-6 col-sm-12 action-holder">
                <div class="action-items">
                    <div class="items-holder">
                        <div id="top-charities"></div>
                        <img class="action-holder-frame" src="Assets/shape-frame.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="the_story">
        <div class="story_image">
            <div class="story_gradient">
                <div class="text_container">

                    <span>Naomie Dirksland, initiatiefnemer</span>
                    <h3>
                        “Geld heb ik niet, maar ik zet mijn talenten graag in voor wie ze nodig heeft. Daarmee kun je dus óók wat bereiken!”
                    </h3>

                    <div class="story-btn-holder">
                        <div class="secondary-button">
                            <a href="#"></a>
                            <label>Lees dit verhaal</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</div>

<div id="acties">
    <h3 class="title">Lopende acties</h3>
    <div class="slider-container">
        <div id="charity-actions-carousel" class="main-carousel">
        </div>
        <div class="button button--previous"></div>
        <div class="button button--next"></div>
    </div>

    <div class="action-buttons">
        <div class="all-actions">
            <a href="#"></a>
            <span class="monster-700">Bekijk alle acties</span>
        </div>
        <div class="make-actions">
            <a href="#"></a>
            <span class="monster-700">Start een actie</span>
        </div>
    </div>
</div>
