@{ ViewData["Title"] = "Home Page"; }
<img class="header-image" src="Assets/header-image-shape.svg" alt="#">

<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 about-text">
                <div class="row">
                    <div class="col-sm-6">
                        <p>Erik doneerde aan Unicef</p>
                        <h3>"Anderen hebben mij laten zien hoe mooi de wereld kan zijn als je deelt"</h3>


                        <div class="about-btn">
                            <a href="#"></a>
                            <i class="fas fa-arrow-right"></i>
                            <span>Lees zijn verhaal</span>
                        </div>
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="home-info" class="col-md-12">
    <div class="container">
        <p>
            <bold>Ik doneer nu</bold> is hét platform waar alle goede doelen samenkomen. Voor jou is dat een stuk makkelijker. Kies het goede doel wat bij jouw waarden en interesses past en doneer nu.
            <bold>Zo simpel is het!</bold>
        </p>
    </div>
</div>

<div id="option-container">
    <div class="container">
        <div class="home-options">
            <div class="row">
                <div class="col-sm-12 col-md-4 outerBox">
                    <div class="option-box">
                        <div>
                            <img class="option-shape" src="Assets/shape-frame.svg" alt="#">
                            <img class="option-icon" src="Assets/search.svg" alt="#">
                        </div>
                        <h3>Kies een goed doel</h3>
                        <p>Door gebruik te maken van het categorieënfilter , vind je gemakkelijk een goed doel dat bij jouw waarden en interesses past.</p>
                        <a href="#">Start hier</a>
                    </div>

                </div>
                <div class="col-sm-12 col-md-4 outerBox">
                    <div class="option-box">
                        <div>
                            <img class="option-shape" src="Assets/shape-frame.svg" alt="#">
                            <img class="option-icon" src="Assets/doneer.svg" alt="#">
                        </div>
                        <h3>Doneer nu</h3>
                        <p>Kies het bedrag dat je wilt doneren en kies een betaalmogelijkheid. Vanaf €1,00 kun je al iets bijdragen!</p>
                        <a href="#">Start hier</a>
                    </div>

                </div>
                <div class="col-sm-12 col-md-4 outerBox">
                    <div class="option-box">
                        <div>
                            <img class="option-shape" src="Assets/shape-frame.svg" alt="#">
                            <img class="option-icon" src="Assets/share.svg" alt="#">
                        </div>

                        <h3>Deel jouw verhaal</h3>
                        <p>Vertel ons de reden achter jouw donatie. Dat inspireert en motiveert anderen én jouzelf om je in te zetten voor degene die hulp kunnen gebruiken.</p>
                        <a href="#">Start hier</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="home-contribute" class="standard-text">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 contribute-textArea">
                <h3>Draag jouw steentje bij via deze goede doelen</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus convallis, diam quis fermentum bibendum, magna purus eleifend massa, nec tristique orci massa eget magna. Vestibulum ante ipsum primis in faucibus orci.</p>

                <div class="big-button">
                    <span>Bekijk de goede doelen</span>
                    <a href="#"></a>
                </div>


            </div>
            <div class="col-md-6 col-sm-12 action-holder">
                <div class="action-items">
                    <div class="items-holder" id="top-charities">
                        <img class="action-holder-frame" src="Assets/shape-frame.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="the_story">
    <div class="container">
        <div class="story_image">
            <div class="story_gradient">
                <div class="text_container">

                    <span>Teil Dirksland, initiatiefnemer</span>
                    <h3>
                        “Geld heb ik niet, maar ik zet mijn talenten graag in voor wie ze nodig heeft. Daarmee kun je dus óók wat bereiken!”
                    </h3>

                    <div class="story-btn-holder">
                        <div class="secondary-button">
                            <a href="#"></a>
                            <label>Lees haar verhaal</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="acties">
    <h3 class="title">Lopende acties</h3>

    <div class="main-carousel">
        <div class="carousel-cell">
            <div class="carousel-container">
                <div class="carousel-background">
                    <div class="carousel-logo"></div>
                    <div class="carousel-progress-bar">
                        <div class="carousel-progress"></div>
                    </div>
                </div>
                <div class="carousel-body">
                    <label class="carousel-date">27/04/2018</label>
                    <h4 class="carousel-title">Klimmen tegen MS &#64 Mont Ventoux</h4>
                    <div class="carousel-poster-image"></div>
                    <label class="carousel-poster-name">Fabiene ter Beek</label>

                    <div class="carousel-money-holder">
                        
                            <label class="carousel-reached">&euro; 6.800 </label>
                            <label class="carousel-goal">behaald vam &euro; 15.000 </label> 
                    </div>
                </div>
            </div>
        </div>


        <div class="carousel-cell">
            <div class="carousel-container">
                <div class="carousel-background">
                    <div class="carousel-logo"></div>
                    <div class="carousel-progress-bar">
                        <div class="carousel-progress"></div>
                    </div>
                </div>
                <div class="carousel-body">
                    <label class="carousel-date">27/04/2018</label>
                    <h4 class="carousel-title">Klimmen tegen MS &#64 Mont Ventoux</h4>
                    <div class="carousel-poster-image"></div>
                    <label class="carousel-poster-name">Fabiene ter Beek</label>

                    <div class="carousel-money-holder">
                        
                            <label class="carousel-reached">&euro; 6.800 </label>
                            <label class="carousel-goal">behaald vam &euro; 15.000 </label> 
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="carousel-container">
                <div class="carousel-background">
                    <div class="carousel-logo"></div>
                    <div class="carousel-progress-bar">
                        <div class="carousel-progress"></div>
                    </div>
                </div>
                <div class="carousel-body">
                    <label class="carousel-date">27/04/2018</label>
                    <h4 class="carousel-title">Klimmen tegen MS &#64 Mont Ventoux</h4>
                    <div class="carousel-poster-image"></div>
                    <label class="carousel-poster-name">Fabiene ter Beek</label>

                    <div class="carousel-money-holder">
                        
                            <label class="carousel-reached">&euro; 6.800 </label>
                            <label class="carousel-goal">behaald vam &euro; 15.000 </label> 
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="carousel-container">
                <div class="carousel-background">
                    <div class="carousel-logo"></div>
                    <div class="carousel-progress-bar">
                        <div class="carousel-progress"></div>
                    </div>
                </div>
                <div class="carousel-body">
                    <label class="carousel-date">27/04/2018</label>
                    <h4 class="carousel-title">Klimmen tegen MS &#64 Mont Ventoux</h4>
                    <div class="carousel-poster-image"></div>
                    <label class="carousel-poster-name">Fabiene ter Beek</label>

                    <div class="carousel-money-holder">
                        
                            <label class="carousel-reached">&euro; 6.800 </label>
                            <label class="carousel-goal">behaald vam &euro; 15.000 </label> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(document).ready(function() {
            $('#top-charities').load('@Url.Action("GetTopCharities", "Search", new { Amount = 3})');
        });
    </script>
}