@{ ViewData["Title"] = "Home Page"; }
<img class="header-image" src="Assets/header-image-shape.svg" alt="#">

<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 about-text">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>"Anderen hebben mij laten zien hoe mooi de wereld kan zijn als je deelt"</h3>
                        <p>Erik van Woerden, Donateur</p>

                        <div class="about-btn">
                            <a href="#"></a>
                            <i class="fas fa-arrow-right"></i>
                            <span>Lees zijn verhaal</span>
                        </div>
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="home-info" class="col-md-12">
    <div class="container">
        <p>Ik doneer nu is hét platform waar alle goede doelen samenkomen. Voor jou is dat een stuk makkelijker. Kies het goede doel wat bij jouw waarden en interesses past en doneer nu. Zo simpel is het!</p>
    </div>
</div>

<div id="option-container">
    <div class="container">
        <div class="home-options">
            <div class="row">
                <div class="col-sm-12 col-md-4 outerBox">
                    <div class="option-box">
                        <div>
                            <img class="option-shape" src="Assets/shape-frame.svg" alt="#">
                            <img class="option-icon" src="Assets/search.svg" alt="#">
                        </div>
                        <h3>lorem ipsum</h3>
                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam est ante, porta et finibus sed, dignissim a leo.</p>
                        <a href="#">Start hier</a>
                    </div>

                </div>
                <div class="col-sm-12 col-md-4 outerBox">
                    <div class="option-box">
                        <div>
                            <img class="option-shape" src="Assets/shape-frame.svg" alt="#">
                            <img class="option-icon" src="Assets/doneer.svg" alt="#">
                        </div>
                        <h3>lorem ipsum</h3>
                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam est ante, porta et finibus sed, dignissim a leo.</p>
                        <a href="#">Start hier</a>
                    </div>

                </div>
                <div class="col-sm-12 col-md-4 outerBox">
                    <div class="option-box">
                        <div>
                            <img class="option-shape" src="Assets/shape-frame.svg" alt="#">
                            <img class="option-icon" src="Assets/share.svg" alt="#">
                        </div>

                        <h3>lorem ipsum</h3>
                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam est ante, porta et finibus sed, dignissim a leo.</p>
                        <a href="#">Start hier</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="home-contribute" class="standard-text">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 contribute-textArea">
                <h3>Draag jouw steentje bij via deze goede doelen</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus convallis, diam quis fermentum bibendum, magna purus eleifend massa, nec tristique orci massa eget magna. Vestibulum ante ipsum primis in faucibus orci.</p>

                <div class="big-button">
                    <span>Bekijk de goede doelen</span>
                    <a href="#"></a>
                </div>


            </div>
            <div class="col-md-6 col-sm-12 action-holder">
                <div class="action-items">
                    <div class="items-holder">
                        <div class="action-item">
                            <img src="Assets/placeholder.jpg" alt="#">
                            <h4 class="action-title">Klimmen tegen MS</h4>
                            <div class="colored-label"><a href="#">Gezondheid</a></div>
                            <div class="action-information">
                                Werken aan een toekomst zonder hart- en vaatziekten
                            </div>
                            <div class="action-btn-holder">
                                <a href="#"><i class="fas fa-arrow-right"></i>
                                </a>
                            </div>

                        </div>

                        <div class="action-item">
                            <img src="Assets/placeholder.jpg" alt="#">
                            <h4 class="action-title">Klimmen tegen MS</h4>
                            <div class="colored-label"><a href="#">Gezondheid</a></div>
                            <div class="action-information">
                                Werken aan een toekomst zonder hart- en vaatziekten
                            </div>
                            <div class="action-btn-holder">
                                <a href="#"><i class="fas fa-arrow-right"></i>
                                </a>
                            </div>

                        </div>

                        <div class="action-item">
                            <img src="Assets/placeholder.jpg" alt="#">
                            <h4 class="action-title">Klimmen tegen MS</h4>
                            <div class="colored-label"><a href="#">Gezondheid</a></div>
                            <div class="action-information">
                                Werken aan een toekomst zonder hart- en vaatziekten
                            </div>
                            <div class="action-btn-holder">
                                <a href="#"><i class="fas fa-arrow-right"></i>
                                </a>
                            </div>

                        </div>
                        <img class="action-holder-frame" src="Assets/shape-frame.svg">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="the_story">
    <div class="container">
        <div class="story_image">
            <div class="story_gradient">
                <div class="text_container">

                    <span>Teil Dirksland, initiatiefnemer</span>
                    <h3>
                        “Geld heb ik niet, maar ik zet mijn talenten graag in voor wie ze nodig heeft. Daarmee kun je dus óók wat bereiken!”
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>